h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#function {
    position: absolute;
    top: 60%;
}

form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form input[type="submit"] {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}
