body {
    margin: 0;
    padding: 0;
}

/** The Nav Bar CSS for Every Page **/

.topnav {
    overflow: hidden;
    background-color: rgb(46, 47, 48);
    height: 60px;
}

.topnav img {
    height: 40px;
    width: 40px;
}

.topnavlinks {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px auto 100px 100px;
    height: 100%;
    overflow: hidden;
}

/** Gives each link a position in the navbar, this is mainly to ensure that the "Login" Controls are always on the far right of the Nav Bar **/
.topnavlinks .home {
    grid-column: 1;
}

.topnavlinks .about {
    grid-column: 2;
}

.topnavlinks .viewcardsets {
    grid-column: 3;
}

.topnavlinks .viewcateogires {
    grid-column: 4;
}

.topnavlinks .addcat {
    grid-column: 5;
}

.topnavlinks .restricted {
    grid-column: 6;
}

.topnavlinks .mycards {
    grid-column: 7;
}

.topnavlinks .signin {
    grid-column: 9;
}

.topnavlinks .logout {
    grid-column: 10;
}

.topnavlinks .login {
    grid-column: 10;
}


.topnav a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    display: grid;
    align-items: center;
}

.topnav a:hover {
    background-color: #f2f2f2;
    color: black;
}
/** ----------------------------------- **/



html {
  overflow: scroll;
}

img {
    width: 2.8%;
    height: auto;
	position: relative;
	float: left;
}

hr {
	top: 10%;
	clear: both;
}

.middle{
	position: relative;
    margin-left: 30%;
}

.box{
	position: relative;
	padding: 20px;
	margin: 20px;
    border: 2px solid black;
    width: 300px;
    height: 300px;
	float: left;

}


/*
box1:Most Liked Categories
box2:Most Viewed Pages

 */

#float-left{
	float:left;
	margin: 10px 10px 10px 10px;
}
#box1 {
}

#box2 {
}

#box3{
	clear: left;
}

#box4{

}

#box-center{ /* To place element in the "center" of the box */
	position: absolute;
	top: 45%;
}

#function{ /* Add a new category, Index, About*/
	clear: left;
    position: relative;
    top: 90%;
}