html {
  overflow: scroll;
}

img {
    width: 3%;
    height: auto;
	position: relative;
	float: left;
}

h1 {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
}

strong {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}

hr {
	top: 10%;
	clear: both;
}


.top {
	height:80px;
	border-bottom: solid black;
}
.middle{
	position: relative;
    margin-left: 30%;
}
.box{
	position: relative;
	padding: 20px;
	margin: 20px;
    border: 2px solid black;
    width: 300px;
    height: 300px;
	float: left;

}
.top {
	height:80px;
	border-bottom: solid black;
}

/*
box1:Most Liked Categories
box2:Most Viewed Pages

 */

#float-left{
	float:left;
	margin: 10px 10px 10px 10px;
}
#box1 {
}

#box2 {
}

#box3{
	clear: left;
}

#box4{

}

#box-center{ /* To place element in the "center" of the box */
	position: absolute;
	top: 45%;
}

#function{ /* Add a new category, Index, About*/
	clear: left;
    position: relative;
    top: 90%;
}