{% extends 'card/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Page
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css" >
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 mt-5">Flash Card Master</h1>
                <h2 class="mb-4">About Us</h2>
                <p>Our site allows users to:</p>
                <ul class="list-group mb-3">
                    <li class="list-group-item">View Flash Cards</li>
                    <li class="list-group-item">Create Flash Cards</li>
                    <li class="list-group-item">Explore Uploaded Content</li>
                    <li class="list-group-item">Test themselves on their own/other user's cards</li>
                </ul>
                <p>With the goal of enhancing their knowledge on various different subjects over various different cards.</p>
            </div>
        </div>
    </div>
{% endblock %}






