<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
        <title>
			{% block title_block %}
				Flash Card Master
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
		{% block extra_css %}
		{% endblock %}
	</head>
	<body>
		<div class="top">
			<h1>Flash Card Master</h1>
			<img id = "float-left" src="{% static 'images/flashcard.png' %}" alt="Picture of FlashCard" />
			<strong>{{ boldmessage }}</strong><br /> <!-- br/ means adding new line-->
		</div>
        <div>
			{% block body_block %}
			{% endblock %}
		</div>
		<br />
		<div id="function">
			<ul>
				{% if user.is_authenticated %}
					<li><a href="{% url 'card:add_category' %}">Add a New Category</a></li>
					<li><a href="{% url 'card:restricted' %}">Restricted Page</a></li>
					<li><a href="{% url 'card:logout' %}">Logout</a></li>
				{% else %}
					<li><a href="{% url 'card:register' %}">Sign Up</a></li>
					<li><a href="{% url 'card:login' %}">Login</a></li>
				{% endif %}
				<li><a href="{% url 'card:about' %}">About</a></li>
				<li><a href="{% url 'card:index' %}">Index</a></li>
            </ul>
		</div>
	</body>
</html>
