<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
        <title>
			{% block title_block %}
				Flash Card Master
			{% endblock %}
		</title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />

		<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
		<script src="{% static 'js/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
 		{% block extra_css %}
		{% endblock %}
	</head>

	<body>

		<div class="topnav">
			<img id = "float-left" src="{% static 'images/flashcard.png' %}" alt="Picture of FlashCard" />
			<div class="topnavlinks">
				<a class="home" href="{% url 'card:index' %}">Home</a>
				<a class="about" href="{% url 'card:about' %}">About</a>
				<a class="viewcategories" href="{% url 'card:view_categories' %}">View Categories</a>
				<a class="viewcardsets" href="{% url 'card:view_cardsets' %}">View Flash Card Sets</a>
				<a class="search" href="{% url 'card:search' %}">Search</a>
				{% if user.is_authenticated %}
				<a class="addcat" href="{% url 'card:add_category' %}">Create Category</a>
				<a class="mycards" href="{% url 'card:my_cards' %}">My Cardsets</a>
				{% endif %}

				{% if user.is_authenticated %}
				<a class="logout" href="{% url 'card:logout' %}">Logout</a>
				{% else %}
				<a class="signin" href="{% url 'card:register' %}">Sign Up</a>
				<a class="login" href="{% url 'card:login' %}">Login</a>
				{% endif %}	
			</div>
		</div>

        <div class="bodyblock">
			{% block body_block %}
			{% endblock %}
		</div>

		<br />

        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	</body>
</html>
