{% extends 'card/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if flash_card_set %}
        {{ flash_card_set.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/cardset.css' %}" type="text/css" >
    <script src="{% static "js/jquery.flip.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "js/cardsetJS.js" %}" crossorigin="anonymous"></script>
{% endblock %}

{% block body_block %}

    {% if flash_card_set %}
            <div class="title_container">
                <h1 id="title">{{ flash_card_set.name }}</h1>

                <div class="authorblock">
                    {% if isCreator %}
                        <h2 id="author"> Author - You </h2>
                    {% else %}
                        <h2 id="author"> Author - {{ flash_card_set.user }} </h2>
                    {% endif %}
                </div>
                {% if isCreator %}
                    {% if flash_cards %}
                        <a href="{% url 'card:edit_cardset' flash_card_set.slug %}"><button id="edit" class="toolbutton"> Edit </button></a>
                    {% else %}
                        <a href="{% url 'card:edit_cardset' flash_card_set.slug %}"><button id="edit" class="toolbutton"> Create </button></a>
                    {% endif %}
                {% endif %}
                <a href="{% url 'card:test_cardset' flash_card_set.slug %}"><button id="test" > Test your Knowledge! </button></a>
            </div>

        {% if flash_cards %}

            <div class="container">
                
                <div class="cardcontainer">
                    <div class="slider-outer">

                        <div class="slider-inner">

                            <section class="active">
                                <div class="flipfirst">
                                    <p>{{ flash_card_set.name }}</p>
                                </div>
                            </section>

                            {% for card in flash_cards %}
                        
                                <section>
                                    <div class="flip">
                                        <div class="front">
                                            <p class="question">{{ card.question_text }}</p>
                                        </div>
                                        <div class="back">
                                            <p class="answer">{{ card.answer_text }} </p>
                                        </div>
                                    </div>           
                                </section>

                            {% endfor %}

                        </div>


                        <div class="bottomBar">

                            <div class="infostat">
                                <img src="{% static 'images/heart-icon.png' %}" alt="Like Icon">
                                <div><p id="likes"> {{ flash_card_set.likes }} </p></div>
                            </div>

                            {% if user.is_authenticated %}
                            <button id="like" class="toolbutton" data-cardsetname="{{ flash_card_set.name }}"> Like </button>  
                            {% endif %}

                            <div class="slidecontrols">
                                <img class="backward" src="{% static 'images/left-arrow-icon.png' %}" alt="Left Arrow">
                                <div>
                                    <p class="slidenumbercurrent"> 1 </p>
                                    <p> / </p>
                                    <p class="slidenumbertotal"> X </p>
                                </div>
                                <img class="forward" src="{% static 'images/right-arrow-icon.png' %}" alt="Right Arrow">
                            </div>

                            <div class="infostat">
                                <img src="{% static 'images/comment-box-icon.png' %}" alt="Comment Icon">
                                <div><p id="Comments"> {{ flash_card_comments.count }} </p></div>
                            </div>

                            {% if user.is_authenticated %}
                            <a href="{% url 'card:comment' flash_card_set.slug %}"><button id="comment" class="toolbutton"> Comment </button></a>
                            {% endif %}

                        </div>

                    </div>
                </div>
            </div>
        {% else %}
            {% if isCreator %}
                <strong> There are currently no cards in this Flash Card Set. This is your set. Add some cards!</strong>
            {% else %}
                <strong> There are currently no cards in this Flash Card Set.</strong>
            {% endif %}
        {% endif %}

    

        



    {% else %}
        The specified flash card set does not exist.
    {% endif %}

{% endblock %}