{% extends 'card/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Flash Card Master - HelpPage
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
		        <h1 class="display-4 mt-5">Flash Card Master</h1>
                <h2 class="mb-4">How to make your Card Set</h2>
                <p> Follow these steps: </p>
                <ul class="list-group mb-3">
                    <li class="list-group-item"> Enter the title of card set </li>
                    <li class="list-group-item"> Choose a Category  </li>
                    <li class="list-group-item"> Enter the question of the card </li>
                    <li class="list-group-item"> Enter the answer of the card </li>
                    <li class="list-group-item"> Submit and create your new card set </li>
            </ul>
        <p> Well done! Now you should have your new card set! </p>
            </div>
        </div>
    </div>
{% endblock %}