{% extends 'card/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Flash Card Master - HelpPage
{% endblock %}

{% block body_block %}
    <div class="container">
		<h1>Flash Card Master</h1>
        <h2>How to make your Card Set</h2>
        <p> Follow these steps: </p>
            <ul>
                <li> Enter the title of card set </li>
                <li> Choose a Category  </li>
                <li> Enter the question of the card </li>
                <li> Enter the answer of the card </li>
                <li> Submit and create your new card set </li>
            </ul>
        <p> Well done! Now you should have your new card set! </p>
    </div>
{% endblock %}