{% extends 'card/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Flash Card Master - HomePage
{% endblock %}

{% block body_block %}	
	<div class="middle">
		<div class="box" id="box1">
			<h2>Most Liked Categories</h2>
			{% if categories %}
				<ul>
					{% for category in categories %}
					<li><a href="{% url 'card:show_category' category.slug %}">{{ category.name }}</a></li>
					{% endfor %}
				</ul>
			{% else %}
				<strong id="box-center">There are no categories present.</strong>
			{% endif %}
		</div>

		<div class="box" id="box2">
			<h2>Most Viewed Flash Card Sets</h2>
			{% if pages %}
				<ul>
                {% for flash_card_set in flash_card_sets %}
                    <li><a href="{% url 'card:card_set' flash_card_set.slug %}">{{ flash_card_set.name }}</a></li>
                {% endfor %}
				</ul>
			{% else %}
				<strong id="box-center">There are no pages present.</strong>
			{% endif %}
		</div>

		<div class="box" id="box3">
			<h2>Head 3</h2>
			<p>This is head three</p>
		</div>

		<div class="box" id="box4">
			<h2>Head 4</h2>
			<p>This is head four</p>
		</div>
	</div>
{% endblock %}
