{% extends 'card/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <header class="jumbotron jumbotron-fluid text-black text-center mb-5">
        <div class="container">
            <br>
            <br>
            <h1 class="display-4">Flash Card Master</h1>
            <br>
            <p class="lead">Learn and test your knowledge with flash cards!</p>
            <br>
            <br>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><strong>View Flash Cards</strong></h5>
                        <p class="card-text">Explore a wide range of flash cards and learn from them.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'card:view_cardsets' %}" class="btn btn-primary">View Cards</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Create Flash Cards</strong></h5>
                        <p class="card-text">Create your own flash cards and share them with others.</p>
                    </div>
                    <div class="card-footer">
                        {% if user.is_authenticated %}
                            <a href="{% url 'card:add_cardset' %}" class="btn btn-primary">Create Cards</a>
                        {% else %}
                            <p class="card-text">You must login to create cards</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Test Your Knowledge</strong></h5>
                        <p class="card-text">Take quizzes using your own or others' flash cards to test your
                            knowledge.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'card:tests' %}" class="btn btn-primary">Start Test</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

