{% extends 'card/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center my-4">Register for Flash Card Master</h2>
                {% if registered %}
                    <div class="alert alert-success" role="alert">
                        <strong>Thank you for registering!</strong>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'card:index' %}" class="btn btn-primary">Return to the homepage</a>
                    </div>
                {% else %}
                    <form id="user_form" method="post" action="{% url 'card:register' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ user_form.as_p }}
                        </div>
                        <div class="form-group">
                            {{ profile_form.as_p }}
                        </div>
                        <div class="text-center">
                            <input type="submit" name="submit" value="Register" class="btn btn-primary" />
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
