{% extends 'card/base.html' %}
{% load staticfiles %}

{% block title_block %}
    View Cardsets
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/view_cardsets.css' %}" type="text/css" >
    <script src="{% static 'js/mycardsJS.js' %}" crossorigin="anonymous"></script>
{% endblock %}

{% block body_block %}

    <h1>View Card Sets</h1>

    <div class="container">
        {% for cardset in flash_card_sets %}
        <a href="{% url 'card:card_set' cardset.slug %}">
            <div class="cardset">
                
                    <ul>
                        <li class="cardsetname"> {{ cardset.name }} </li>
                        <li> Subject - {{ cardset.subject }} </li>
                        <li> Author - {{ cardset.user }} </li>
                        <li> {{ cardset.number_of_questions }} Questions </li>
                        <li> {{ cardset.likes }} Likes </li>
                    </ul>
                
            </div>
        </a>  
        {% endfor %}
    </div>

{% endblock %}