{% extends 'card/base.html' %}
{% load staticfiles %}

{% block title_block %}
    View Categories
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/view_categories.css' %}" type="text/css" >
    <script src="{% static "js/mycardsJS.js" %}" crossorigin="anonymous"></script>
{% endblock %}

{% block body_block %}

    <h1>View Categories</h1>

    <div class="container" >
		{% if categories %}
			{% for category in categories %}
			<a href="{% url 'card:show_category' category.slug %}">
				<div class="category">					
					<ul>
						<li class="categoryname"> {{ category.name }} </li>
						<li> {{ category.views }} Views </li>
						<li> {{ category.likes }} Likes </li>
					</ul>					
				</div>
			</a>  
			{% endfor %}
		{% else %}
			No categories present!
		{% endif %}
    </div>

{% endblock %}